@import "./Header.scss";
@import "./Footer.scss";

.flex {
  display: flex;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.blog-index-title {
  font-size: 3.56rem;
  display: inline;
}
