@import "./Header.scss";
@import "./Footer.scss";
@import "./Footer.scss";
@import "./Layout.scss";
@import "./Landing.scss";
@import "./Blog.scss";
@import "./404.scss";
@import "./cities.scss";

* {
  font-family: "Roboto";
}

.flex {
  display: flex !important;
}

.mt-50 {
  margin-top: 50px;
}

.fw-600 {
  font-weight: 600;
}

.roboto {
  font-family: "Roboto";
}
